.footer {
    background-color: var(--bg-color);
}

.footer__copyright {
    padding-top: 2.5%;
    padding-top: 3vw;
    padding-bottom: 1vw;
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
    border-top: 2px solid var(--text-color);
}